---
BasedOnStyle: Google
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
#IndentWidth: 4
UseTab: Never
Standard: Cpp11
#SortIncludes: false
...
